header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
body{
  color: whitesmoke;
  background-image: url('img.jpg');
}
style{
  box-sizing: border-box;
}
nav{
  float: left;
  width: auto;
  height: auto;
  background: #2f006d ;
  padding: 20px;
}
h1{
  text-align: center;
}

/* menu de navigation : */

