*{

}

body{
    margin: 0 auto;
}

/* tete de page */
header.header{
    display: flex;
    align-item: center;
    background-color: blueviolet;
}

header.header img{
    width: 150px;
}


section.top-page{
    background: url('images/fond3.jpg');
    bakcground-size: cover;  
    height: 80vh;
}

/* menu de navigation */

nav.nav{
    display: flex;
    justify-content
    list-style: none;
    background-color:blueviolet;
    width: 400px;
    margin-left: 30px;

}
nav.nav li{
    color: white; 

}