*{

}

body{
    margin: 0 auto;
}

/* tete de page */
header.header{
    display: flex;
    align-item: center;
   
}

header.header img{
    width: 150px;
}


section.top-page{
    background: url('images/fond3.jpg');
    bakcground-size: cover;  
    height: 80vh;
    padding: 25px;
}

.big-title{
    color:white;

}

/* menu de navigation */

nav.nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 400px;
    margin-left: 60px;

}
nav.nav li{
    color: white; 

}