*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    height: 100vh;
    background: linear-gradient(#ff0000,#000000);
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 550px;
    height: 550px;
    background-color: #fff;
    border-radius: 20%;
}
h1{
    text-align: center;
    color: darkmagenta;
    margin-top: 20%;
}
form{
    padding: 0 20%;
}
form .box{
    position: relative;
    margin-top: 15%;
    border-bottom: 3px solid #d503ff;
}
input{
    width: 200px;
    padding: 25px 30px;
    height: 25px;
    font-size: 18px;
    background: 0;
    border: none;
    outline: none;
}
label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #777;
    transform: translate(-50%);
    font-size: 17px;
    pointer-events: none;
}
.fa{
    color: #d503ff;
}
input[type="submit"] {
    width: 100%;
    height: 50px;
    background: linear-gradient(#000000,#ff0000);
    color: #fff;
    border-radius: 20px;
    font-size: 17px;
    margin-top: 35px;
    cursor: pointer;
    transition: 0.5s;
}
input[type="submit"]:hover{
    transform: translate(-5px);
}
@media(max-width: 1100px){
    .wrapper{
    width:min(600px, 100px);
}
}