*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    height: 100vh;
    background: linear-gradient(#ff039e,#04d4eb);
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 20%;
}
h1{
    text-align: center;
    color: darkmagenta;
    margin-top: 20%;
}
form{
    padding: 0 20%;
}
form .box{
    position: relative;
    margin-top: 20%;
    border-bottom: 3px solid #d503ff;
}
input{
    width: 200px;
    padding: 25px 30px;
    height: 25px;
    font-size: 18px;
    background: 0;
    border: none;
    outline: none;
}