body {
    background-image: url("images/fond.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.texte{
  text-align: center;
  color:aliceblue;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
    
}
.navigation a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.navigation a:hover {
    color: orange;
}


